<% extend('layout') %>           
<div class="category">
    <div class="d-flex group-title">
        <span class="font-size-lg-2 none-deco none-mg">Chiến thắng bình chọn Vòng <%- currentRound -%></span>
    </div>
</div> 
<div class="main-frame-post d-flex">
    <div class="post response-frame none-pd">
        <table class="width-100 pd mg-r-sm">
            <tr class="width-100 d-flex">
                <th class="width-20 font-size-lg-1 d-flex-start">Chủ đề</th>
                <th class="width-10 font-size-lg-1 d-flex-start">1st</th>
                <th class="width-10 font-size-lg-1 d-flex-start">2nd</th>
                <th class="width-10 font-size-lg-1 d-flex-start">3rd</th>
                <th class="width-50 font-size-lg-1 d-flex-start">4-10th</th>
            </tr>
        </table>
        <div class="border-b"></div>
        <table class="fame-content honors-content d-flex">
            <% for (c = 0; c < cateList.length; c++) { %>
                <% if (!empty[c]) { %>
                    <tr class="fame-ele mg-b">
                        <td class="width-20">
                            <span class="topic-theme d-flex">
                                <% if (cateList[c] == "hiphop") { %>
                                    <span class="iconify mg-r-sm" data-icon="simple-icons:talend" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "rap") { %>
                                    <span class="iconify mg-r-sm" data-icon="bi:emoji-smile" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "contemporary") { %>
                                    <span class="iconify mg-r-sm" data-icon="ic:outline-headset-mic" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "modern") { %>
                                    <span class="iconify mg-r-sm" data-icon="emojione-monotone:people-with-bunny-ears" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "ballroom") { %>
                                    <span class="iconify mg-r-sm" data-icon="bi:music-note-beamed" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "ballet") { %>
                                    <span class="iconify mg-r-sm" data-icon="simple-line-icons:game-controller" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "shuffle") { %>
                                    <span class="iconify mg-r-sm" data-icon="cil:animal" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "jazz") { %>
                                    <span class="iconify mg-r-sm" data-icon="ion:school-outline" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "sexy") { %>
                                    <span class="iconify mg-r-sm" data-icon="ion:school-outline" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "flashmob") { %>
                                    <span class="iconify mg-r-sm" data-icon="ion:school-outline" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "freestyle") { %>
                                    <span class="iconify mg-r-sm" data-icon="ion:school-outline" data-inline="false"></span>
                                <% } %>
                                <% if (cateList[c] == "other") { %>
                                    <span class="iconify mg-r-sm" data-icon="ion:school-outline" data-inline="false"></span>
                                <% } %>
                                <%- topicName[c] -%></span>
                        </td>
                        <td class="width-10">
                        <% for (i = 0; i < winners.length; i++) { %>
                            <% if (winners[i].category == cateList[c] && winners[i].rank == 1) { %>
                                <a class="avt none-deco d-flex d-flex-start avt-rank1 nav-red" nav-data="personal" data-user-df="<%- profileWinner[i].nickname -%>">
                                    <% if (profileWinner[i].avatar.includes("http")) { %>
                                        <img src="<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <% if (!profileWinner[i].avatar.includes("http")) { %>
                                        <img src="https://cdn.fodance.com/fd-media/<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <div class="d-flex-col-start">
                                        <span class="avt-username username-winner font-size-lg-1"><%- usernameWinner[i] -%></span>
                                    </div>
                                </a>
                            <% } %>
                        <% } %>
                        </td>
                        <td class="width-10">
                        <% for (i = 0; i < winners.length; i++) { %>
                            <% if (winners[i].category == cateList[c] && winners[i].rank == 2) { %>
                                <a class="avt none-deco d-flex d-flex-start avt-rank2 nav-red" nav-data="personal" data-user-df="<%- profileWinner[i].nickname -%>">
                                    <% if (profileWinner[i].avatar.includes("http")) { %>
                                        <img src="<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <% if (!profileWinner[i].avatar.includes("http")) { %>
                                        <img src="https://cdn.fodance.com/fd-media/<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <div class="d-flex-col-start">
                                        <span class="avt-username username-winner font-size-lg-1"><%- usernameWinner[i] -%></span>
                                    </div>
                                </a>
                            <% } %>
                        <% } %>
                        </td>
                        <td class="width-10">
                        <% for (i = 0; i < winners.length; i++) { %>
                            <% if (winners[i].category == cateList[c] && winners[i].rank == 3) { %>
                                <a class="avt none-deco d-flex d-flex-start avt-rank3 nav-red" nav-data="personal" data-user-df="<%- profileWinner[i].nickname -%>">
                                    <% if (profileWinner[i].avatar.includes("http")) { %>
                                        <img src="<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <% if (!profileWinner[i].avatar.includes("http")) { %>
                                        <img src="https://cdn.fodance.com/fd-media/<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <div class="d-flex-col-start">
                                        <span class="avt-username username-winner font-size-lg-1"><%- usernameWinner[i] -%></span>
                                    </div>
                                </a>
                            <% } %>
                        <% } %>
                        </td>
                        <td class="width-50">
                        <% for (i = 0; i < winners.length; i++) { %>
                            <% if (winners[i].category == cateList[c] && (winners[i].rank > 3 && winners[i].rank <= 10)) { %>
                                <a class="avt none-deco d-flex d-flex-start nav-red" nav-data="personal" data-user-df="<%- profileWinner[i].nickname -%>">
                                    <% if (profileWinner[i].avatar.includes("http")) { %>
                                        <img src="<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <% if (!profileWinner[i].avatar.includes("http")) { %>
                                        <img src="https://cdn.fodance.com/fd-media/<%- profileWinner[i].avatar -%>" class="none-mg">
                                        <% } %>
                                    <div class="d-flex-col-start">
                                        <span class="avt-username username-winner font-size-lg-1"><%- usernameWinner[i] -%></span>
                                    </div>
                                </a>
                            <% } %>
                        <% } %>
                        </td>
                    </tr>   
                <% } %>
            <% } %>
        </table>
    </div>
</div>