<% extend('layout') %>
<div class="category-frame">
    <div class="category">
        <% if (roundType == "group-stage") { %>
        <button class="arrow-but d-flex arrow-to-left">
            <span class="iconify arrow-icon" data-icon="ic:outline-arrow-left" data-inline="false"></span>
        </button>        
        <div class="category-slidebar noselect">
            <button class="category-but d-flex <% if (cateActive == 'competition') { %> active <% } %>" topic-data="competition"><span class="category-item-name">Tất cả</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'freestyle') { %> active <% } %>" topic-data="freestyle"><span class="category-item-name">Nhảy tự do</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'hiphop') { %> active <% } %>" topic-data="hiphop"><span class="category-item-name">Hiphop</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'rap') { %> active <% } %>" topic-data="rap"><span class="category-item-name">Rap</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'contemporary') { %> active <% } %>" topic-data="contemporary"><span class="category-item-name">Múa đương đại</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'ballroom') { %> active <% } %>" topic-data="ballroom"><span class="category-item-name">Khiêu vũ</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'modern') { %> active <% } %>" topic-data="modern"><span class="category-item-name">Nhảy hiện đại</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'ballet') { %> active <% } %>" topic-data="ballet"><span class="category-item-name">Múa ba lê</span><span class= "cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'shuffle') { %> active <% } %>" topic-data="shuffle"><span class="category-item-name">Shuffle</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'jazz') { %> active <% } %>" topic-data="jazz"><span class="category-item-name">Jazz</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'sexy') { %> active <% } %>" topic-data="sexy"><span class="category-item-name">Sexy</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'flashmob') { %> active <% } %>" topic-data="flashmob"><span class="category-item-name">Flashmob</span><span class="cate-post-count"></span></button>
            <button class="category-but d-flex <% if (cateActive == 'other') { %> active <% } %>" topic-data="other"><span class="category-item-name">Khác</span><span class="cate-post-count"></span></button>
        </div>
        <button class="arrow-but d-flex arrow-to-right">
            <span class="iconify arrow-icon" data-icon="ic:outline-arrow-right" data-inline="false"></span>
        </button>
        <% } %>
        <% if (roundType == "final") { %>
            <div class="d-flex group-title">
                <span class="font-size-lg-2 none-deco none-mg">Chung kết</span>
            </div>
        <% } %>
    </div>
</div>

<div class="main-frame-post d-flex">
    <div class="main-frame-post-sort-rounder">
        <div class="main-frame-post-sort">
            <a class="sort-content-but d-flex-col noselect mg-b sort-cate sort-content-but-active" sort-data="rank-sort-content"><span class="iconify" data-icon="bi:bar-chart-fill" data-inline="false"></span><div class="d-flex-col"><span>Thứ</span><span>hạng</span></div></a>
            <a class="sort-content-but d-flex-col noselect mg-b" sort-data='random-sort-content'><span class="iconify" data-icon="fe:random" data-inline="false"></span><div class="d-flex-col"><span>Ngẫu</span><span>nhiên</span></div></a>
            <a class="sort-content-but d-flex-col noselect mg-b" sort-data='latest-sort-content'><span class="iconify" data-icon="ic:twotone-autorenew" data-inline="false"></span><div class="d-flex-col"><span>Mới</span><span>nhất</span></div></a>
            <a class="sort-content-but d-flex-col noselect" sort-data='follow-sort-content'><span class="iconify" data-icon="ri:user-follow-line" data-inline="false"></span><div class="d-flex-col"><span>Theo</span><span>dõi</span></div></a>
        </div>
    </div>
    <div class="main-frame-post-inner frame-post-content frame-post-home">
        <% if (winnerCongrat && winnerCongrat.length != 0) { %>
            <div class='modal congrat-modal'>
                <div class="modal-content congrat-modal-content">
                    <div class="congrat-title d-flex">
                        <span>Chúc mừng bạn đã giành chiến thắng!</span>
                    </div>
                    <div class="border-b mg-t width-100"></div>
                    <div class="grate-content mg-t">
                        <div class="d-flex">
                            <h2>Bạn đã chiến thắng bình chọn tuần vừa rồi với thành tích:</h2>
                        </div>
                        <div class="d-flex-col mg-t">
                            <% for (let i = 0; i < winnerCongrat.length; i++) { %>
                                <div class="d-flex mg-t">
                                    <span class="theme-color mg-r-lg">Hạng <%- Object.keys(winnerCongrat[i])[0] -%> <%- Object.values(winnerCongrat[i])[0] -%></span>
                                    <span class="mg-r-sm"><%- Object.values(winnerCongrat[i])[1] -%></span><span class="iconify font-icon" data-icon="fxemoji:star" data-inline="false"></span>
                                </div>
                            <% } %>
                        </div>
                        <div class="d-flex mg-t-lg">
                            <h3>Hãy tiếp tục để trở thành ngôi sao trên Lingyo!</h3>
                        </div>
                        <div class="d-flex mg-t-lg">
                            <button class="next-but congrat-submit">Tuyệt vời</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="post-frame">
            <div class="post-section">
            <% if (newUser) { %>
            <div class="post pd-t pd-b-lg">
                <div class="post-description">Chào mừng bạn đến với Lingyo, cùng tìm hiểu và tham gia bình chọn tại các chủ đề để nhận thưởng $ </div>
                <div class="nav-red theme-color pd" nav-data="update">Xem <span class="nav-item-name-red">Cập nhật</span></div>
                <div class="post-file">
                    <img src="/public/images/banner.jpg" class="media-post post-image">
                </div>
            </div>
            <% } %>
            <% if (posts) { %>
            <% for (let i = 0; i < posts.length; i++) { %>
                <div class="post" data-post-df="<%- posts[i].postId -%>">
                    <% if (rank && i <= 100) { %>
                    <div class="ranking">
                        <% if (i == 0) { %>
                            <span class="iconify" data-icon="noto:1st-place-medal" data-inline="false"></span>
                        <% } %>
                        <% if (i == 1) { %>
                            <span class="iconify" data-icon="noto:2nd-place-medal" data-inline="false"></span>
                        <% } %>
                        <% if (i == 2) { %>
                            <span class="iconify" data-icon="noto:3rd-place-medal" data-inline="false"></span>
                        <% } %>
                        <% if (i > 2 && i <= 10) { %>
                            <span>10th</span>
                        <% } %>
                    </div>
                    <% } %>
                    <div class="post-util">
                        <button class="avt-but header-but dropdown-but util-dropdown-but">
                            <span class="iconify dropdown-icon" data-icon="vaadin:ellipsis-dots-h" data-inline="false"></span>
                        </button>
                        <div class="util-dropdown-content dropdown-content">
                            <% if (!saved[i]) { %>
                                <a class="nav-item save-post"><span class="iconify" data-icon="bi:bookmark-plus" data-inline="false"></span>Lưu bài viết</a>
                            <% } %>
                            <% if (saved[i]) { %>
                                <a class="nav-item remove-save-post"><span class="iconify" data-icon="bi:bookmark-dash" data-inline="false"></span>Bỏ lưu bài viết</a>
                            <% } %>
                            <% if (!profile.notice.includes(posts[i].postId.toString())) { %>
                                <a class="nav-item post-notice"><span class="iconify" data-icon="clarity:bell-outline-badged" data-inline="false"></span>Bật thông báo bình chọn</a>
                            <% } %>
                            <% if (profile.notice.includes(posts[i].postId.toString())) { %>
                                <a class="nav-item remove-post-notice"><span class="iconify" data-icon="ph:bell-simple-slash" data-inline="false"></span>Tắt thông báo bình chọn</a>
                            <% } %>
                            <a class="nav-item copy-link-post"><span class="iconify" data-icon="clarity:copy-line" data-inline="false"></span>Sao chép liên kết</a>
                            <% if (userId == posts[i].userId) { %>
                                <a class="nav-item del-post"><span class="iconify" data-icon="bx:bx-hide" data-inline="false"></span>Xóa bài viết</a>
                            <% } %>
                            <% if (userId != posts[i].userId) { %>
                                <a class="nav-item follow-post-user" data-following="<%- followed[i] -%>"><span class="iconify" data-icon="simple-line-icons:user-following" data-inline="false"></span><% if (!followed[i]) { %><span class="follow-text mg-r-sm">Theo dõi </span><%- posts[i]['user.username'] -%><% } %><% if (followed[i]) { %><span class="follow-text mg-r-sm">Bỏ theo dõi</span><%- posts[i]['user.username'] -%><% } %></a>
                            <% } %>
                        </div>
                    </div>   
                    <div class="post-user">
                        <div class="post-info">
                            <a class="avt nav-red" nav-data='personal' data-user-df="<%- postProfile[i].nickname -%>">
                                <% if (postProfile[i].avatar.includes("http")) { %>
                                    <img src="<%- postProfile[i].avatar -%>" class="user-avt" username="<%- posts[i]['user.username'] -%>">
                                <% } %>
                                <% if (!postProfile[i].avatar.includes("http")) { %>
                                    <img src="https://cdn.fodance.com/fd-media/<%- postProfile[i].avatar -%>" class="user-avt" username="<%- posts[i]['user.username'] -%>">
                                <% } %>
                            </a>    
                            <div class="avt-info">
                                <% if (posts[i]['user.userId'] == userId) { %>
                                    <div class="d-flex">
                                        <a class="avt nav-red" nav-data='personal' data-user-df="<%- postProfile[i].nickname -%>"><span class="avt-username user-username"><%- posts[i]['user.username'] -%></span></a>
                                        <div class="mark-icon">
                                        </div>
                                        <div class="mg-l d-flex">
                                            <span class="contact-item"></span>
                                            <a class="avt"><span class="post-time">
                                                <% if ((Date.now() - posts[i].time)/1000 < 5) { %>
                                                    <span class="theme-color">Vừa xong</span>
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000 > 5 && (Date.now() - posts[i].time)/1000 < 60) { %>
                                                    <span class="theme-color"><%- Math.floor((Date.now() - posts[i].time)/1000) -%> giây</span>
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/60 >= 1 && (Date.now() - posts[i].time)/1000/60 < 60) { %>
                                                    <span class="theme-color"><%- Math.floor((Date.now() - posts[i].time)/1000/60) -%> phút</span>
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/3600 >= 1 && (Date.now() - posts[i].time)/1000/3600 < 24) { %>
                                                    <%- Math.floor((Date.now() - posts[i].time)/1000/3600) -%> giờ
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/3600/24 >= 1 && (Date.now() - posts[i].time)/1000/3600/24 < 8) { %>
                                                    <%- Math.floor((Date.now() - posts[i].time)/1000/3600/24) -%> ngày
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/3600/24 >= 8) { %>
                                                    <%- posts[i].time.getDate() + " tháng " + (posts[i].time.getMonth() + 1) + " lúc " + posts[i].time.getHours() + ':' + posts[i].time.getMinutes()-%>
                                                <% } %>
                                            </span></a>
                                        </div> 
                                    </div>
                                    <a class="avt nav-red" nav-data='personal' data-user-df="<%- postProfile[i].nickname -%>">
                                        <span class="post-time nickname-content">
                                            @<%- postProfile[i].nickname -%>
                                        </span>
                                    </a>
                                <% } %>
                                <% if (posts[i]['user.userId'] != userId) { %>
                                    <div class="d-flex">
                                        <a class="avt nav-red" nav-data='personal' data-user-df="<%- postProfile[i].nickname -%>"><span class="avt-username"><%- posts[i]['user.username'] -%></span></a>
                                        <div class="mark-icon">
                                        </div>
                                        <div class="mg-l d-flex">
                                            <span class="contact-item"></span>
                                            <a class="avt"><span class="post-time">
                                                <% if ((Date.now() - posts[i].time)/1000 < 5) { %>
                                                    <span class="theme-color">Vừa xong</span>
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000 > 5 && (Date.now() - posts[i].time)/1000 < 60) { %>
                                                    <span class="theme-color"><%- Math.floor((Date.now() - posts[i].time)/1000) -%> giây</span>
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/60 >= 1 && (Date.now() - posts[i].time)/1000/60 < 60) { %>
                                                    <span class="theme-color"><%- Math.floor((Date.now() - posts[i].time)/1000/60) -%> phút</span>
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/3600 >= 1 && (Date.now() - posts[i].time)/1000/3600 < 24) { %>
                                                    <%- Math.floor((Date.now() - posts[i].time)/1000/3600) -%> giờ
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/3600/24 >= 1 && (Date.now() - posts[i].time)/1000/3600/24 < 8) { %>
                                                    <%- Math.floor((Date.now() - posts[i].time)/1000/3600/24) -%> ngày
                                                <% } %>
                                                <% if ((Date.now() - posts[i].time)/1000/3600/24 >= 8) { %>
                                                    <%- posts[i].time.getDate() + " tháng " + (posts[i].time.getMonth() + 1) + " lúc " + posts[i].time.getHours() + ':' + posts[i].time.getMinutes()-%>
                                                <% } %>
                                            </span></a>
                                        </div> 
                                    </div>
                                    <a class="avt nav-red" nav-data='personal' data-user-df="<%- postProfile[i].nickname -%>">
                                        <span class="post-time">
                                            @<%- postProfile[i].nickname -%>
                                        </span>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-description"><%- posts[i].description -%></div>
                        <% if (posts[i].file) { %>
                            <% if (posts[i].file.type == 'video') { %>
                            <div class="post-file">
                                <video class="player media-post post-video" loop muted poster="/public/images/poster.png" src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[0] -%>"></video>
                            </div>
                            <% } %>
                            <% if (posts[i].file.type == 'image') { %>
                                <% if (posts[i].file.path.length == 1) { %>
                                    <div class="post-file">
                                        <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[0] -%>" class="media-post post-image">
                                    </div>
                                <% } %>
                                <% if (posts[i].file.path.length == 2) { %>
                                    <div class="post-file thumb-2-files">
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[0] -%>" class="media-post post-image">
                                        </div>
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[1] -%>" class="media-post post-image">
                                        </div>
                                    </div>
                                <% } %>
                                <% if (posts[i].file.path.length == 3) { %>
                                    <div class="post-file thumb-3-files">
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[0] -%>" class="media-post post-image">
                                        </div>
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[1] -%>" class="media-post post-image">
                                        </div>
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[2] -%>" class="media-post post-image">
                                        </div>
                                    </div>
                                <% } %>
                                <% if (posts[i].file.path.length == 4) { %>
                                    <div class="post-file thumb-4-files">
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[0] -%>" class="media-post post-image">
                                        </div>
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[1] -%>" class="media-post post-image">
                                        </div>
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[2] -%>" class="media-post post-image">
                                        </div>
                                        <div class="thumb-file">
                                            <img src="https://cdn.fodance.com/fd-media/<%- posts[i].file.path[3] -%>" class="media-post post-image">
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="d-flex-sb pd-l-lg pd-r-lg">
                        <div class="interactive-but-total d-flex vote-total"><% if (posts[i].like != 0) { -%><span class="iconify vote-icon mg-r-sm" data-icon="ic:twotone-how-to-vote" data-inline="false"></span><span class="like-total"><%- posts[i].like.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") -%><% } %></span></div>
                        <% if (posts[i].file && posts[i].file.type == 'video') { %>
                            <div class="video-views"><span class="view-total"><%- posts[i].videoViews -%></span><span> lượt xem</span></div>
                        <% } %>
                    </div>
                    <div class="border-b mg-t-sm mg-b-sm mg-r-lg mg-l-lg"></div>
                    <div class="post-interactive">           
                        <% if (postLiked[i]) { %>
                            <button class="interactive-but like-but interactive-but-liked" data-liked="true">
                        <% } %>        
                        <% if (!postLiked[i]) { %>
                            <button class="interactive-but like-but" data-liked="false">
                        <% } %>  
                                <span class="iconify font-size-lg-5" data-icon="ant-design:heart-twotone"></span>
                                <span>Bình chọn</span>
                            </button>
                        <button class="interactive-but comment-but">
                            <span class="iconify font-size-lg-1" data-icon="bi:chat-square" data-inline="false"></span>
                            <span>Bình luận <% if (posts[i].comment != 0) { -%>(<span class="interactive-comment-total"><%- posts[i].comment -%></span>)<% } %><% if (posts[i].comment == 0) { -%><span class="interactive-comment-total"></span><% } %></span>
                        </button>
                        <button class="interactive-but share-but">
                            <span class="iconify font-size-lg-1" data-icon="simple-line-icons:share-alt" data-inline="false"></span>
                            <span>
                                <% if (posts[i].share != 0) { -%>
                                    <%- posts[i].share -%>
                                <% } %>
                            </span>
                            <span>Chia sẻ</span>
                        </button>
                    </div>
                </div>
            <% } %>
            <% } %>
            </div>
            <div class="loading-post">
                <div class="d-flex-start loading-content">
                    <div class="loading-post-circle mg-r"></div>
                    <div class="d-flex-col-start-content width-80">
                        <div class="loading-post-line width-30 mg-b-sm"></div>
                        <div class="loading-post-line width-20"></div>
                    </div>
                </div>
                <div class="loading-post-line width-90 mg-b-sm"></div>
            </div>
        </div>
    </div>
    <div class="main-frame-post-tool">
    </div>
</div>
