<% extend('layout') %>   
<div class="category-frame">
    <div class="category">
        <div class="d-flex group-title">
            <span class="font-size-lg-2 none-deco none-mg">Xếp hạng</span>
        </div>
    </div> 
</div>
<div class="main-frame-post d-flex">
    <div class="post response-frame none-pd">
        <div class="group-title d-flex">
            <span class="font-size-lg-3 pd">BXH điểm danh vọng (LP)</span>
        </div>
        <div class="d-flex">
            <div class="border-b width-80"></div>
        </div>
        <table class="fame-content d-flex">
                <tr class="d-flex fame-title">
                    <th class="width-5">#</th>
                    <th class="width-50">Vũ công</th>
                    <th class="width-12">#1</th>
                    <th class="width-12">#2</th>
                    <th class="width-12">#3</th>
                    <th class="width-10">LP</th>
                </tr>
            <% for (i = 0; i < topFames.length; i++) { %>
                <tr class="fame-ele nav-red <% if (i != topFames.length - 1){ %>mg-b <% } %><% if (i<3){ %>fame-top-1<% } %>" nav-data="personal" data-user-df="<%- topFames[i].nickname -%>">
                    <td class="width-5">
                        <span class="<% if (i == 0) { %>rank1-color<% } %><% if (i == 1) { %>rank2-color<% } %><% if (i == 2) { %>rank3-color<% } %>"><%- i + 1 -%></span>
                    </td>
                    <td class="width-50">
                        <a class="avt none-deco d-flex d-flex-start nav-red <% if (i == 0) { %>avt-rank1<% } %><% if (i == 1) { %>avt-rank2<% } %><% if (i == 2) { %>avt-rank3<% } %>" nav-data="personal" data-user-df="<%- topFames[i].nickname -%>">
                            <% if (topFames[i].avatar.includes("http")) { %>
                            <img src="<%- topFames[i].avatar -%>">
                            <% } %>
                            <% if (!topFames[i].avatar.includes("http")) { %>
                                <img src="https://cdn.fodance.com/fd-media/<%- topFames[i].avatar -%>">
                            <% } %>
                            <div class="d-flex-col-start">
                                <span class="avt-username font-size-lg-1" nav-data="personal" data-user-df="<%- topFames[i].nickname -%>"><%- topFameUsers[i] -%></span>
                                <span class="avt-nickname"><%- topFames[i].nickname -%></span>
                            </div>
                        </a>
                    </td>
                    <td class="width-12 d-flex">
                        <span><%- topFames[i].rank1 -%></span>
                    </td>
                    <td class="width-12 d-flex">
                        <span><%- topFames[i].rank2 -%></span>
                    </td>
                    <td class="width-12 d-flex">
                        <span><%- topFames[i].rank3 -%></span>
                    </td>
                    <td class="width-10">
                        <span class="points d-flex <% if (i < 3) { %>animate-color<% } %>"><%- topFames[i].points -%></span>
                    </td>
                </tr>     
            <% } %>
            <tr style="position: fixed; bottom: 60px; z-index: 5000; width: 95%; border: 1px solid rgb(186, 186, 255);" class="fame-ele nav-red fame-top-1" nav-data="personal" data-user-df="<%- profile.nickname -%>">
                <td class="width-5">
                    <span class="<% if (currentRank == 0) { %>rank1-color<% } %><% if (currentRank == 1) { %>rank2-color<% } %><% if (currentRank == 2) { %>rank3-color<% } %>"><%- currentRank -%></span>
                </td>
                <td class="width-50">
                    <a class="avt none-deco d-flex d-flex-start nav-red <% if (currentRank == 0) { %>avt-rank1<% } %><% if (currentRank == 1) { %>avt-rank2<% } %><% if (currentRank == 2) { %>avt-rank3<% } %>" nav-data="personal" data-user-df="<%- profile.nickname -%>">
                        <% if (profile.avatar.includes("http")) { %>
                        <img src="<%- profile.avatar -%>">
                        <% } %>
                        <% if (!profile.avatar.includes("http")) { %>
                            <img src="https://cdn.fodance.com/fd-media/<%- profile.avatar -%>">
                        <% } %>
                        <div class="d-flex-col-start">
                            <span class="avt-username font-size-lg-1" nav-data="personal" data-user-df="<%- profile.nickname -%>">Bạn</span>
                            <span class="avt-nickname"><%- profile.nickname -%></span>
                        </div>
                    </a>
                </td>
                <td class="width-12 d-flex">
                    <span><%- profile.rank1 -%></span>
                </td>
                <td class="width-12 d-flex">
                    <span><%- profile.rank2 -%></span>
                </td>
                <td class="width-12 d-flex">
                    <span><%- profile.rank3 -%></span>
                </td>
                <td class="width-10">
                    <span class="points d-flex <% if (i < 3) { %>animate-color<% } %>"><%- profile.points -%></span>
                </td>
            </tr>
        </table>
    </div>
</div>