<% extend('layout') %>    
<div class="category-frame">
    <div class="category">
        <div class="d-flex group-title">
            <span class="font-size-lg-2 none-deco none-mg">Thông tin vòng đấu</span>
        </div>
    </div> 
</div>       
<% if (winnerCongrat && winnerCongrat.length != 0) { %>
    <div class='modal congrat-modal'>
        <div class="modal-content congrat-modal-content">
            <div class="congrat-title d-flex">
                <span>Chúc mừng bạn đã giành chiến thắng!</span>
            </div>
            <div class="border-b mg-t width-100"></div>
            <div class="grate-content mg-t">
                <div class="d-flex">
                    <% if (roundType == "group-stage") { %>
                        <h2>Bạn đã chiến thắng bình chọn Chung kết tuần với thành tích:</h2>
                    <% } %>
                    <% if (roundType == "final") { %>
                        <h2>Bạn đã chiến thắng bình chọn Bảng đấu tuần với thành tích:</h2>
                    <% } %>
                </div>
                <div class="d-flex-col mg-t">
                    <% for (let i = 0; i < winnerCongrat.length; i++) { %>
                        <div class="d-flex-col mg-t">
                            <div><span class="theme-color mg-r-lg">Hạng <%- Object.values(winnerCongrat[i])[2] -%> <%- Object.keys(winnerCongrat[i])[2] -%></span></div>
                            <div class="d-flex">
                                <span class="mg-r-sm"><%- Object.values(winnerCongrat[i])[1] -%></span><span class="iconify font-icon mg-l-sm theme-color" data-icon="emojione-v1:money-bag" data-inline="false"></span>
                                <span class="mg-l-sm"><%- Object.values(winnerCongrat[i])[0] -%> <b>LP</b></span>
                            </div>
                            
                        </div>
                    <% } %>
                </div>
                <div class="d-flex mg-t-lg">
                    <% if (roundType == "group-stage") { %>
                        <h3>Hãy tiếp tục để trở thành ngôi sao trên Lingyo!</h3>
                    <% } %>
                    <% if (roundType == "final") { %>
                        <h3>Bạn đã nhận được vé tham gia Vòng chung kết tuần!</h3>
                    <% } %>
                </div>
                <div class="d-flex mg-t-lg">
                    <button class="next-but congrat-submit">Tuyệt vời</button>
                </div>
            </div>
        </div>
    </div>
<% } %>
<div class="main-frame-post home-frame d-flex">
    <div class="d-flex-col width-90">
        <div class="width-100 coundown">
            <div class="group-title d-flex-start-bottom">
                <div class="dance-lottie"></div>
                <% if (new Date().getDay() >= 1 && new Date().getDay() <= 5) { %>
                    <span class="font-size-lg-3">Vòng hiện tại: Vòng bảng - <span class="home-rank"><%- rankName %></span></span>
                <% } %>
                <% if (new Date().getDay() == 6 || new Date().getDay() == 0) { %>
                    <span class="font-size-lg-3">Vòng hiện tại: Chung kết - <span class="home-rank"><%- rankName %></span></span>
                <% } %>
            </div>
            <div class="walking-lottie"></div>
            <div class="home-round-timer mg-b">
                <div class="timer-bar"></div>
            </div>
            <div class="timer-text d-flex mg-b">
                <div class="mg-r-sm">Còn</div><div class="timer-bar-value"></div>
            </div>
        </div>
        <div class="top-reward d-flex-col">
                <div class="final-reward d-flex-col mg-b">
                    <h3>1. Thưởng hạng Chung kết hiện tại - Top 3</h3>
                    <div class="d-flex mg-t">
                        <div class="top-reward-frame shine rw1">
                            <div class="top-reward-inner rainbow">
                                <div class="animate__animated animate__bounce"><span class="iconify icon-reward icon-reward-1" data-icon="emojione-monotone:1st-place-medal" data-inline="false"></span></div>
                                <span class="mg-r-sm animate__animated animate__bounceInUp">Hạng 1</span>
                                <div class="border-b"></div>
                                <div class="border-b"></div>
                                <div class="animate__animated animate__bounceInUp"><span class="bold-font rw-color usd-rw"><%- finalRewardList[0] -%> </span> USD, <span class="bold-font rw-color fp-rw"><%- finalLPList[0] -%></span> LP</div>
                            </div>
                        </div>
                        <div class="top-reward-frame shine rw2">
                            <div class="top-reward-inner rainbow">
                                <div class="animate__animated animate__bounce"><span class="iconify icon-reward icon-reward-2" data-icon="emojione-monotone:2nd-place-medal" data-inline="false"></span></div>
                                <span class="mg-r-sm animate__animated animate__bounceInUp">Hạng 2</span>
                                <div class="border-b"></div>
                                <div class="border-b"></div>
                                <div class="animate__animated animate__bounceInUp"><span class="bold-font rw-color usd-rw"><%- finalRewardList[1] -%> </span> USD, <span class="bold-font rw-color fp-rw"><%- finalLPList[1] -%> </span> LP</div>
                            </div>
                        </div>
                        <div class="top-reward-frame shine rw3">
                            <div class="top-reward-inner rainbow">
                                <div class="animate__animated animate__bounce"><span class="iconify icon-reward icon-reward-3" data-icon="emojione-monotone:3rd-place-medal" data-inline="false"></span></div>
                                <span class="mg-r-sm animate__animated animate__bounceInUp">Hạng 3</span>
                                <div class="border-b"></div>
                                <div class="border-b"></div>
                                <div class="animate__animated animate__bounceInUp"><span class="bold-font rw-color usd-rw"><%- finalRewardList[2] -%> </span> USD, <span class="bold-font rw-color fp-rw"><%- finalLPList[2] -%> </span> LP</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            <div>
                <a class="d-flex nav-red competition-but" nav-data='competition'><h3 class="nav-item-name theme-color d-flex"><span class="iconify font-icon mg-r" data-icon="ant-design:play-circle-filled" data-inline="false"></span>Bình chọn video tham dự tại <span class="nav-item-name-red mg-l-sm">Vòng đấu</span></h3></a>
            </div>
        </div>
        <div>
            <div class="rw-text d-flex-col-start pd-t pd-b">
                <span>Rule: Vòng bảng diễn ra trong 5 ngày đầu tuần, những người đứng đầu ở mỗi thể loại dựa trên tỉ lệ bình chọn video sẽ tiến vào Vòng trung kết (2 ngày cuối), tiền thưởng dựa trên tỉ lệ vũ công tham gia.
                </span>
            </div>
        </div>
        <div class="top-reward">
            <div class="cate-reward d-flex-col">
                <h3>2. Thưởng hạng thể loại hiện tại - Top 1</h3>
                <div class="d-flex flex-wrap mg-t">
                <% for (let i = 0; i < cateList.length; i++) { %>
                    <button class="top-reward-frame category-but" topic-data="<%- cateList[i] %>">
                        <div class="d-flex-start">
                            <span><span class="category-item-name"><%- nameList[i] %></span>: <span class="bold-font rw-color usd-rw"><%- cateRewardList[i] %></span> $, <span class="bold-font rw-color fp-rw"><%- cateLPList[i] -%> </span> LP</span>
                        </div>
                    </button>
                <% } %>
                </div>
            </div>
        </div>
        <div class="top-reward">
            <div class="d-flex-col flex-wrap mg-t mg-b-lg">
                <h3>3. Thưởng LP ngoài</h3>
                <div><span>Đăng 1 bài viết Vòng bảng: + </span><span>5LP</span></div>
                <div><span>Đăng 1 bài viết Vòng chung kết: + </span><span>10LP</span></div>
                <div><span>Khi bài viết của bạn tăng <b>x</b> hạng sau 24 giờ: + </span><span><b>x</b> LP</span></div>
                <h4 class="gray-color">Bình chọn một video: </h4>
                <div><span>Khi video đó tăng thêm <b>x</b> hạng sau 24 giờ: + </span><span><b>x</b> LP</span></div>
                <div><span>Khi video đó giảm đi <b>x</b> hạng sau 24 giờ: - </span><span><b>x</b> LP</span></div>
            </div>
        </div>
        <div class="d-flex pd">
            <small>
                Chú ý: Apple không phải nhà tài trợ cho các vòng bình chọn trên Lingyo
            </small>
        </div>
    </div>
</div>